//- title: Расписание
//- date: 26.10.2012
extends _root_/layout

block content
    table.table.table-striped
        thead
            tr
                th № пары
                th Время пары
                th Перерыв
        tbody
            tr
                td 1 пара
                td 8:00 – 9:20
                td 20 мин.
            tr
                td 2 пара
                td 9:40 – 11:00
                td 10 мин.
            tr
                td 3 пара
                td 11:10 – 12:30
                td 20 мин.
            tr
                td 4 пара
                td 12:50 – 14:10
                td 10 мин.
            tr
                td 5 пара
                td 14:20 – 15:40
                td 10 мин.
            tr
                td 6 пара
                td 15:50 – 17:10
                td 10 мин.







