//- title: Боксовая модель
extends _root_/layout

block content
 h5 Боксовая модель 
 p.
 &nbsp&nbspБоксовая модель в CSS описывает боксы, генерируемые для HTML-элементов. 
 Боксовая модель также имеет детальные опции для определения полей, рамок, заполнения и содержимого каждого элемента. 
 На диаграмме далее показано, как построена боксовая модель:
 center   <img src="box-model.gif"> 
 center Боксовая модель в CSS
 br.  
 i Контент(content)- 
 или текст или картинка или другое, обладает шириной и высотой.
 br.
 i Границы(border)- 
 линии вокруг полей элемента.
 br.
 i Поля (padding)- 
 вокруг содержимого. Создают пустое пространство от границ до содержимого. Значения полей не могут быть отрицательными.
 br.
 i Отступы(margin)- 
 пустое пространство от внешнего края границ. Отступы могут быть отрицательными.
 p.
 Информация взята в сайта: 
 a(href=" http://ru.html.net/tutorials/css/", target="_blank") http://ru.html.net/tutorials/css/

 p.
 Более подробная информация: 
 a(href="http://htmlbook.ru/samlayout/blochnaya-verstka/blochnaya-model", target="_blank") http://htmlbook.ru/samlayout/blochnaya-verstka/blochnaya-model
 
 h5 Позиционирование элементов(position) 
 p.
 &nbsp&nbspПринципы CSS-позиционирования  - в том, что вы можете расположить бокс в системе координат где угодно.
 p.
 &nbsp&nbspЭлемент, позиционированный абсолютно, не получает никакого пространства в документе. Это означает, что после 
 позиционирования он не оставляет после себя пустое пространство. Для абсолютного позиционирования элемента 
 свойство position должно иметь значение 
 b absolute. 
 Вы можете использовать значения 
 i left, right, top и bottom 
 для размещения бокса. 
 p.
 &nbsp&nbspЧтобы позиционировать элемент относительно, установите в свойстве position значение 
 b relative. 
 Разница между относительным абсолютным позиционированием состоит в том, как об считывается позиционирование. 
 Позиция элемента, размещаемого относительно, об считывается относительно его оригинальной позиции в документе. 
 Это означает, что вы смещаете элемент вправо, влево, вверх или вниз. Таким образом, элемент всё ещё занимает в 
 документе пространство после позиционирования. 
 p.
 Более подробная информация:
 a(href="http://htmlbook.ru/css/position", target="_blank") http://htmlbook.ru/css/position
 br.
 a(href="http://htmlbook.ru/samlayout/blochnaya-verstka/pozitsionirovanie-elementov", target="_blank") http://htmlbook.ru/samlayout/blochnaya-verstka/pozitsionirovanie-elementov
