//- title: CSS платформы(Bootstrap), github, introduction to git.
extends _root_/layout

block content
 h5 CSS платформы(Bootstrap)
 p.
 Bootstrap — свободный набор инструментов для создания сайтов и веб-приложений.  
 Включает в себя HTML и CSS шаблоны оформления для типографики, веб-форм, кнопок, 
 меток, блоков навигации и прочих компонентов веб-интерфейсов, включая JavaScript расширения.
 Bootstrap использует самые современные наработки в области CSS и HTML, поэтому 
 необходимо быть внимательным при поддержке старых браузеров.
 h4	Основные инструменты Bootstrap:
 br.  
 i Сетки- 
 Заранее заданные размеры колонок, которые можно сразу же использовать,
 например ширина колонки 90px относится к классу .span2, который мы можем 
 использовать в CSS описании документа.
 br.
 i Шаблоны- 
 Фиксированный или резиновый шаблон документа.
 br.
 i Типографика - 
 Описания шрифтов, определение некоторых классов для шрифтов таких как код, цитаты и т. п.
 br.
 i Медиа - 
 Представляет некоторое управление изображениями и Видео.
 i Таблицы  - 
 Средства оформления таблиц, вплоть до добавления функциональности сортировки.
 i Формы   - 
 Классы для оформления не только форм, но и некоторых событий происходящих с ними.
 i Навигация  - 
 Классы оформления для Табов, Вкладок, Страничности, Меню и Тулбара.
 i Алерты   - 
 Оформление диалоговых окон, Подсказок и Всплывающих окон.
 p.
 Скачать Bootstrap и подробнее ознакомиться:  
 a(href=" http://twitter.github.com/bootstrap/") http://twitter.github.com/bootstrap/

 p.
 Версия на русском: 
 a(href="http://bootstrap.veliovgroup.com/") http://bootstrap.veliovgroup.com/
 
 GitHub 
 p.
 GitHub — самый большой веб-сервис для хостинга проектов и их совместной разработки.
 Основан на системе контроля версий Git и разработан на Ruby on Rails и Erlang компанией 
 GitHub, Inc (ранее известной как Logical Awesome) разработчиками Крисом Ванстрасом,
 PJ Хиеттом и Томом Престон-Вернером
 p.
 Сами разработчики называют GitHub «социальной сетью для разработчиков». Кроме
 размещения кода, участники могут общаться, комментировать правки друг друга, следить за
 новостями знакомых. С помощью широких возможностей Git программисты могут 
 объединять свои репозитории и GitHub предлагает удобный интерфейс для этого и может 
 отобразить вклад каждого участника в виде дерева. 
 p.
 Для проектов есть личные страницы, небольшие Вики и система отслеживания ошибок. 
 Прямо на сервисе можно просмотреть файлы проектов с подсветкой синтаксиса для большинства языков.
 На платных тарифных планах можно создавать репозитории, доступные только ограниченному кругу пользователей.
 p.
 Код проектов можно не только скопировать через Git, но и скачать обычный архив с сайта.
 Кроме Git, сервис поддерживает получение и редактирование кода через SVN и Mercurial.
 Ранее Ruby-проекты могли быть автоматически опубликованы в RubyGems - репозитории сервиса, 
 но в октябре 2009 GitHub отказался от этого сервиса.
 p.
 Также на сайте есть pastebin-сервис gist.github.com для быстрой публикации фрагментов кода.
 p.
 Собственно сам  GitHub: 
 a(href="http://github.com") http://github.com
 p.
 Как работать с GitHub:
 a(href="http://habrahabr.ru/post/125799/") http://habrahabr.ru/post/125799/
 p.
 Ссылка для скачивания:
 a(href="http://git-scm.com/") http://git-scm.com/ 
 p.
 Онлайн уроки по git:
 a(href="http://try.github.com/levels/1/challenges/1") http://try.github.com/levels/1/challenges/1
p.
Основы Git (руководство):
a(href="http://git-scm.com/book/ru/") http://git-scm.com/book/ru/
