//- title: Создание собственного сайта
extends _root_/layout

block content
 P 
  | Пример сайта, написанного на Node.js, можно посмотреть по 
  a(href="https://github.com/alvego/srv", target="_blank") ссылке
  
 h5 Как запустить свой сайт в интернете
 p 
  b DNS сервис 
  | - приложение, предназначенное для ответов на DNS-запросы по соответствующему протоколу. Основной задачей DNS-сервера является трансляция доменных имен в IP адреса и обратно.
  
 p 
  b Регистратор доменных имён 
  | — организация, имеющая полномочия создавать (регистрировать) новые доменные имена и продлевать срок действия уже существующих доменных имён в домене, для которого установлена обязательная регистрация. 
 
 p
  b Хостинг
  | - услуга по предоставлению вычислительных мощностей для физического размещения информации на сервере, постоянно находящемся в сети (обычно Интернет). Хостингом также называется услуга по размещению оборудования клиента на территории провайдера с обеспечением подключения его к каналам связи с высокой пропускной способностью.
 
 p 
  В учебных целях предлагается воспольщоваться следующими ресурсами:
 ul
  li 
   a(href="http://freedns.afraid.org/", target="_blank") DNS сервис
  li 
   a(href="http://nic.ua/", target="_blank") Регистратор доменных имен 
  li 
   a(href="http://nodester.com/", target="_blank") Nodejs хостинг
