//- title: Клиентская часть (Frontend)
extends _root_/layout

block content
 h3
   u Клиентская часть (Frontend)
 h4 
    Что такое HTML и CSS, основные теги правила.
 p &nbsp
  b HTML 
  представляет собой язык разметки гипертекста, который предназначен для создания веб-страниц. Когда такая страница открывается в браузере, он просматривает код HTML, находит специальные символы, называемые тегами, и использует их для создания элементов, таких как: рисунки, таблицы, ссылки и др.
 p &nbsp
  b Стилем 
  или 
  b CSS 
  i (Cascading Style Sheets, каскадные таблицы стилей) 
  называется набор параметров форматирования, который применяется к элементам документа, чтобы изменить их внешний вид. Возможность работы со стилями издавна включают в развитые издательские системы и текстовые редакторы, тем самым позволяя одним нажатием кнопки придать тексту заданный, заранее установленный вид. Теперь это доступно и создателям сайта, когда цвет, размеры текста и другие параметры хранятся в определенном месте и легко «прикручиваются» к любому тегу. Еще одним преимуществом стилей является то, что они предлагают намного больше возможностей для форматирования, чем обычный HTML.
 p CSS представляет собой мощную систему, расширяющую возможности дизайна и верстки веб-страниц.
 p
 b 
   i Сайты:
     | 
     a(href="http://htmlbook.ru/", target="_blank") http://htmlbook.ru/
     p
     |
     a(href="http://html.manual.ru/", target="_blank") http://html.manual.ru/

 