//- title: Материалы
extends _root_/layout

block content
 h4 План
 ul
   li
     h6 1.Введение:
   li
     a(href="introduction.jade",  style="color:#000000") 1.1 Web, протокол http, URL, TCI/IP, технология Client/Server.
   li
     h6 2.Клиентская часть(Frontend):
   li
     a(href="html&css.jade",  style="color:#000000") 2.1 Что такое HTML и CSS, основные теги правила.
   li
     a(href="box-model.jade",  style="color:#000000") 2.2 Box-model, position(колонки).
   li
     a(href="layout_display.jade",  style="color:#000000") 2.3 Display, меню, layout.
   li 
     a(href="git.jade",  style="color:#000000") 2.4 CSS платформы(Bootstrap), github, introduction to git.
   li 
     h6 3.Серверная часть(Backend):
   li
     a(href="nodejs.jade",  style="color:#000000") 3.1 Node.js, простой сервер.
   li
     a(href="markdown.jade",  style="color:#000000") 3.2 Простое приложение с Node.js и подключение Markdown.
   li 
     a(href="home_site.jade",  style="color:#000000") 3.3 Создание собственного сайта.
