//- title: Display&Layout
extends _root_/layout

block content
 h5 Display 
 p.
 &nbsp&nbsp&nbsp
 i Display - 
 многоцелевое свойство, которое определяет, как элемент должен быть показан в документе.
 p.
 &nbsp&nbspСписок возможных значений этого свойства, понимаемый разными браузерами очень короткий — 
 u block
 , 
 u inline
 , 
 u list-item 
 и 
 u none
 . Все остальные допустимые значения поддерживаются браузерами выборочно.
 p.
 i block- 
 элемент показывается как блочный. Применение этого значения для встроенных элементов, 
 например тега &ltspan&gt, заставляет его вести подобно блокам — происходит перенос строк в начале и в конце 
 содержимого.
 br.
 Подробнее:
 a(href="http://htmlbook.ru/samlayout/blochnaya-verstka/blochnye-elementy", target="_blank") http://htmlbook.ru/samlayout/blochnaya-verstka/blochnye-elementy.
 p.
 i inline- 
 элемент отображается как встроенный. Использование блочных тегов, таких как &ltdiv&gt и &ltp&gt, 
 автоматически создает перенос и показывает содержимое этих тегов с новой строки. Значение inline отменяет эту 
 особенность, поэтому содержимое блочных элементов начинается с того места, где окончился предыдущий элемент. 
 br.
 Подробнее:
 a(href="http://htmlbook.ru/samlayout/blochnaya-verstka/strochnye-elementy", target="_blank") http://htmlbook.ru/samlayout/blochnaya-verstka/strochnye-elementy.
 p.
 i inline-block- 
 это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно 
 встроенному элементу. Фактически такой элемент по своему действию похож на встраиваемые элементы. 
 При этом его внутренняя часть форматируется как блочный элемент, а сам элемент — как встроенный 
 br.
 Подробнее:
 a(htef="http://htmlbook.ru/samlayout/blochnaya-verstka/strochno-blochnye-elementy", target="_black") http://htmlbook.ru/samlayout/blochnaya-verstka/strochno-blochnye-elementy.
 p.
 i list-item- 
 элемент выводится как блочный и добавляется маркер списка.
 p.
 i none- 
 Временно удаляет элемент из документа. Занимаемое им место не резервируется и веб-страница формируется так, 
 словно элемента и не было. Изменить значение и сделать вновь видимым элемент можно с помощью скриптов, обращаясь к 
 свойствам через объектную модель. В этом случае происходит переформатирование данных на странице с учетом вновь 
 добавленного элемента.
 p.
 Более подробная информация: 
 a(href="http://htmlbook.ru/css/display", target="_blank") http://htmlbook.ru/css/display
 
 h4 Меню
 p.
 u Создание меню в помощью таблиц.
 br.
 Таблицы для создания горизонтального меню обладают некоторыми преимуществами по сравнению со слоями. 
 В частности, ширина ячеек подстраивается под контент, для таблицы можно установить ширину в процентах или 
 пикселах, легко настроить выравнивание внутри ячеек по вертикали и горизонтали. 
 br.
 Пример: 
 a(hrf="http://jsfiddle.net/Wxftd/2/", target="_blank") http://jsfiddle.net/Wxftd/2/
 p.
 u Применение маркированного списка.
 br.
 В качестве альтернативы таблице для создания горизонтального меню используется маркированный список, 
 основанный на комбинации тегов &ltul&gt и &ltli&gt. Хотя по умолчанию это скорее вертикальное, а не 
 горизонтальное меню, с помощью стилей ему можно задать желаемый вид.
 Начнём с совмещения пунктов меню по горизонтали. Тег &ltli&gt блочный, поэтому и начинается всегда с новой строки, 
 поэтому превратим его в строчный элемент через свойство display со значением inline.
 br.
 Пример: 
 a(href="http://jsfiddle.net/Wxftd/4/", target="_blank") http://jsfiddle.net/Wxftd/4/
 p.
 Для строчных элементов нельзя задавать ширину и делать ссылки внутри них блочными. 
 Так что альтернативой таблице с её возможностями могут быть только блочные элементы. 
 Тег &ltli&gt изначально блочный, осталось только выстроить пункты меню по горизонтали, в чём нам поможет 
 свойство 
 i float.
 br.
 Пример:
 a(href="http://jsfiddle.net/Wxftd/7/", target="_blank") http://jsfiddle.net/Wxftd/7/
 p.
 Пример создания горизонтального меню выравненного по центру:
 a(href="http://jsfiddle.net/Wxftd/1/", target="_blank") http://jsfiddle.net/Wxftd/1/
 
 h4 Layout
 p.
 Различают пять типов макетов, связанных с шириной:
 ul
  li фиксированные;
  li резиновые;
  li эластичные;
  li адаптивные;
  li комбинированные.
 Более подробно о каждом из макетов и о способах их создания: 
 a(href="http://htmlbook.ru/samlayout/tipovye-makety", target="_blank") http://htmlbook.ru/samlayout/tipovye-makety
 p.
 Обычно сайт состоит из шапки(header), подвала(footer) и не скольких колонок содержащих контент(content), 
 меню или другую информацию.
 br.
 Типовые макеты страниц:
 a(href="http://htmlbook.ru/layout", target="_blank") http://htmlbook.ru/layout
 p.
 Проверка сайтов на валидацию: 
 a(href="http://jigsaw.w3.org/css-validator/", target="_blank") http://jigsaw.w3.org/css-validator/
 br.
 a(href="http://validator.w3.org/", target="_blank") http://validator.w3.org/
 