//- title: Простое приложение с Node.js и подключение Markdown
extends _root_/layout

block content
 p
  b Markdown
  | - инструмент преобразования текста в HTML для веб-разработчиков. Markdown позволяет Вам создавать легко читабельный и записываемый код в формате, который может быть преобразован в валидный XHTML (или HTML).
 h5 Таким образом, "Markdown" представляет собой: 
 li простой текст, с форматированным синтаксисом; 
 li программный инструмент, записанный в Perl, который преобразовывает простой форматированный текст в HTML.
 p 
  | Markdown не служит заменою HTML и не задумывался как таковая. Синтаксис Markdown невелик, соответствуя лишь небольшому подмножеству элементов HTML. Смысл Markdown не в том, чтоб создать синтаксис, упрощающий вставку тэгов HTML, а в том, чтоб упростить чтение, написание и редактирование текста.
  | Работает это следующим образом — в текстовое поле мы вводим наш текст, форматируя его специальными кодами (тегами) Markdown, которые при сохранении формы конвертируются в абсолютно валидный и красивый HTML.
 h5 Преимущества использования Markdown 
 li Основан исключительно на текстовом вводе. Вам не нужно использовать сторонние редакторы и инструменты — только обычное текстовое поле. Таким образом вы будете уверены, что ничего не поломается.
 li Минимальное количество кода. Всё, что нужно запомнить вашим пользователям — это пара тегов, и несколько правил.
 li Исходный код максимально читабелен. Вы редактируете страницу, видите код Markdown и сразу можете сказать, как это будет выглядеть в итоге.
 li Open source. BSD лицензия.
 h5 Недостатки Markdown 
 li Строгие конвенции, которые надо соблюдать.
 li Определенные символы нужно эскапировать. (Если вы хотите ввести один из технических символов, используемых в Markdown для размётки, то перед ним надо ставить обратный слэш).
 h5 Ссылки:
 ul
  li
   a(href="http://daringfireball.net/projects/markdown/syntax/", target="_blank") Синтаксис
  li
   a(href="http://daringfireball.net/projects/markdown/dingus/", target="_blank") Онлайн редактор 
  li
   a(href="http://nodeguide.ru/doc/dailyjs-nodepad/node-tutorial-10/", target="_blank") Установка Markdown в Nodejs
