//- title: Node.js, простой сервер.
extends _root_/layout

block content
 h5 Node.js, простой сервер.
 p.
 Node.js — серверная реализация языка программирования JavaScript, основанная на 
 движке V8. Предназначена для создания масштабируемых распределённых сетевых приложений,
 таких как веб-сервер. Node.js по целям использования сходен с фреймворками Twisted 
 на языке Python и EventMachine на Ruby. В отличие от большинства программ JavaScript,
 этот фреймворк исполняется не в браузере клиента, а на стороне сервера.
 
 p.
 Официальный сайт:   
 a(href=" http://nodejs.org/") http://nodejs.org/
 p.
 Руководство и документация: 
 a(href="http://nodejs.org/api/") http://nodejs.org/api/
 p.
 На русском: 
 a(href="http://nodebeginner.ru/") http://nodebeginner.ru/ 
 a(href="http://msdn.microsoft.com/ru-ru/asp.net/hh548232") http://msdn.microsoft.com/ru-ru/asp.net/hh548232
