//- title: Университет
//- date: 26.10.2012
extends _root_/layout

block content
    h4 Расписание занятий
    table.table.table-striped
        thead
            tr
                th № пары
                th Время пары
                th Перерыв
        tbody
            tr
                td 1 пара
                td 8:00 – 9:20
                td 20 мин.
            tr
                td 2 пара
                td 9:40 – 11:00
                td 10 мин.
            tr
                td 3 пара
                td 11:10 – 12:30
                td 20 мин.
            tr
                td 4 пара
                td 12:50 – 14:10
                td 10 мин.
            tr
                td 5 пара
                td 14:20 – 15:40
                td 10 мин.
            tr
                td 6 пара
                td 15:50 – 17:10
                td 10 мин.
    h4 Лаборатории кафедры
    p 310 – кафедра компьютерной инженерии
    p 308 – компьютерный класс
    p 224 – лаборатория CISCO (все желающие могут пройти обучение по сетевым
        | технологиям, сдать экзамены и получить сертификат CCNA международного
        | образца от американской компании CISCO System)
    h4 Компьютерные аудитории:
    p 107, 116, 120 – аудитории для самостоятельной работы и Интернет пользования
        | (с оформлением заявки)

    h4 Даты, которые ты просто обязан знать:
    p 1 марта 2006 г. – день рождения кафедры компьютерной инженерии
    p 12 апреля – день физического факультета
    p 14 октября – день основания ТНУ

    h4 История кафедры компьютерной инженерии
    p В 2002 году на физическом факультете была открыта новая
        | специальность «Компьютерные системы и сети». 1 марта 2006 года на базе
        | кафедры радиофизики и электроники была открыта кафедра компьютерной
        | инженерии. В открытии кафедры принимали активное участие как сотрудники
        | кафедры радиофизики и электроники, так и профессорско-преподавательский
        | состав кафедры кибернетики и вычислительной техники Севастопольского
        | национального технического университета. Большой вклад в становлении и
        | открытии кафедры был сделан проректором по учебно-методической работе
        | Милюковым В.В.

    h4 Сведения об аккредитации
    p Кафедра ведет подготовку по направлению «Компьютерная инженерия»
        | образовательный уровень – «бакалавр», «специалист» и «магистр»
    p Лицензия об образовательной деятельности АВ № 395939 от 22.07.2008 г.
    p Сертификат об аккредитации РД-IV № 012238 от 22.07.2008 г.

    h4 Руководство
    p Ректор – Багров Николай Васильевич
    p Декан физфака – Глумова Марина Всеволодовна

    h4 Деканат 313а
    p Карасанова Сусанна Нюсретовна

    h4 Преподаватели кафедры компьютерной инженерии
    p Милюков Виктор Васильевич, к.т.н., доцент, куратор направления
        | компьютерной инженерии
    p Скатков Александр Владимирович, заведующий кафедрой, д.т.н., профессор
        | (СевНТУ)
    p Харченко Вячеслав Сергеевич, заслуженный изобретатель Украины, д.т.н.,
        | профессор (ХАИ)
    p Завизиступ Юрий Юрьевич, к.т.н., профессор (ХНУРЭ)
    p Таран Евгений Павлович, к.ф.-м.н., доцент
    p Судаков Александр Александрович, к.ф.-м.н., доцент (КНУ им. Шевченко)
    p Бражников Сергей Алексеевич, к.т.н., доцент (СевНТУ)
    p Брюховецкий Алексей Алексеевич, к.т.н., доцент (СевНТУ)
    p Ротко Владимир Федорович, к.т.н., доцент (СевНТУ)
    p Зуев Сергей Александрович, к.т.н., старший преподаватель
    p Покрова София Владимировна
    p Рыжкова Ольга Владимировна
    p Фурсенко Александр Владимирович

    h4 Полезные Интернет ссылки
    p
        a(href="http://www.tnu.lan") http://www.tnu.lan
        | сеть Таврического национального университета
    p
        a(href="http://www.crimea.edu/tnu") http://www.crimea.edu/tnu
        |, внешний сервер сети ТНУ
    p
        a(href="http://edu.crimea.edu") http://edu.crimea.edu
        | - учебный сервер сети ТНУ
    p
        a(href="http://www.tnu.in.ua") http://www.tnu.in.ua
        | - студенческий сайт Таврического национального
        | университета им. В.И.Вернадского

    h4 Библиотеки
    p библиотека физ.факультета – абонемент естественнонаучной литературы, студ.
        | городок, общежитие №2 (ул. Беспалова 45а ), 1 этаж
    p читальный зал корпуса Б – 1 этаж
        |(литература по естественно-научным дисциплинам)
    p читальный зал корпуса А – главная библиотека
        |(литература по гуманитарным наукам)
    p читальный зал корпус А – малая библиотека
        |(литература по общественным наукам), ауд.136 А

    h4 Буфеты
    p корпус А – 2 этаж
    p корпус Б – 1 этаж
    p корпус В – большая столовая, диетическое кафе, преподавательская столовая,
    p кафе «Седьмое небо»

    h4 Туалеты
    p Корпус Б
    p М – 0,3 этажи
    p Ж – 4 этаж
    p М – 3 этаж












