//- title: Журнал
extends _root_/layout

block content
    - var i = 1;
    - var c = "Name,L1,D1,L2,D2,L3,D3,L4,D4,L5,D5,L6,L7,L8,L9,L10".split(',');
    - var d = [],a = function(c){d.push(c)};
    - a('Борзунов Андрей Анатольевич КСС-311,             L2,D2');
    - a('Виноградов Борис,                          L1,D1,L2,D2,L3');
    - a('Виноградова Татьяна КСС-312,               L1,D1,L2,D2,L3');
    - a('Вовк Олег,                                       L2,D2,L3');
    - a('Гельфанов Аллан КСС-311,                   L1,D1,L2,D2,L3');
    - a('Дергачев Александр КСС-312,                L1,D1,L2,D2,L3');
    - a('Зинкина Ирина КСС-311,                     L1,D1,L2,D2');
    - a('Ливанов Артём Дмитриевич КСС-312,          L1,D1,L2,D2,L3');
    - a('Лойко Анастасия КСС-311,                   L1,D1,L2,D2,L3');
    - a('Маханькова Татьяна Вячеславовна КСС-311,   L1,D1,L2,D2,L3');
    - a('Мищенко Евгений КСС-312,                   L1,D1,L2');
    - a('Николаев Руслан Андреевич КСС-312,         L1,D1,L2,D2,L3');
    - a('Понамаренко Светлана Андреевна КСС-311,    L1,D1,L2,D2,L3');
    - a('Синицын Дмитрий,                           L1,D1,L2,D2,L3');
    - a('Тютюнник Анна КСС-312,                     L1,D1,L2,D2,L3');
    - a('Шихбадинов Эльдар КСС-312,                 L1,D1,L2,D2,L3');
    table.table.table-striped
        thead
            tr
                th #
                each h in c
                    th= h
        tbody
            each p in d
                tr
                    td #{i++}
                    each h in c
                        td
                            if 'Name' === h
                                =p.split(',')[0]
                            else
                                if p.indexOf(h) === -1
                                    i.icon-minus(style="opacity:0.5;")
                                else
                                    i.icon-ok


